@use "@angular/material" as mat;
@use "../../functions" as functions;

@mixin theme($theme) {
  .mat-badge-primary {
    --mat-badge-background-color: red !important;
    --mat-badge-text-color: white !important;
  }
}
