.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 4px;
  flex-wrap: wrap;
}

.job {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  flex-direction: column;
  align-items: center;
}

.job-details {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin: 0;
  }
}

.link-buttons {
  display: flex;
  gap: 16px;
}

.job-name {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.step-status {
  text-align: center;
}
