.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pipelines {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.pipeline-title {
  .pipeline-sha-chip {
    --mat-chip-trailing-icon-size: 16px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 8px;
  }
}

.pipeline-status {
  display: flex;
  align-items: center;
}

.jobs {
  display: flex;
  height: 64px;
  flex-wrap: wrap;
  gap: 8px;
}

.job {
  cursor: pointer;
  width: fit-content;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job-name {
  margin-bottom: 0 !important;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.job-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin: 0;
  }
}

.project-name a,
.job a {
  text-decoration: none;
  color: inherit;
}

.project-name:hover a,
.job:hover a {
  text-decoration: underline;
}

.link-buttons {
  display: flex;
  gap: 16px;
}
