@if(project && projectVersion) {
  <a routerLink="/" mat-button>Back to list</a>
  <mat-card class="project">
    <mat-card-header class="project-header">
      <mat-card-title>
        <div matBadge="v{{ projectVersion?.version }}" matBadgeColor="primary" matBadgeOverlap="false">
          {{ project.name }}
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="project-details">
      <div class="link-buttons">
        <a mat-stroked-button href="{{ project.repository_url }}" target="_blank">
          <mat-icon>link</mat-icon>
          Git Repository
        </a>
      </div>
      <mat-accordion class="pipelines">
          @if(projectVersion.pipelines !== undefined && projectVersion.pipelines.length > 0) {
            @for(pipeline of projectVersion.pipelines; track pipeline.id; let i = $index) {
              <ng-template #pipelineDetailsTpl>
                @if(pipeline.jobs !== undefined && pipeline.jobs.length > 0) {
                  <div class="jobs">
                    @for(job of pipeline.jobs; track job.id) {
                      <div class="job-card" [attr.data-status]="getStepStatusClass(job.status)" matTooltip="Plus de détails" (click)="openJobDialog(job)">
                        <div class="job-header">
                          <span class="job-name">{{ job.name }}</span>
                          <mat-icon [class]="getStepStatusClass(job?.status)">
                            {{ getStepIcon(job?.status) }}
                          </mat-icon>
                        </div>
                        <div class="job-info">
                          @if(job.start_date) {
                            @if(job.end_date) {
                              <span class="job-duration">
                                <mat-icon class="info-icon">schedule</mat-icon>
                                {{ job.end_date | durationBetweenInMinutes: job.start_date }}
                              </span>
                            } @else {
                              <span class="job-duration">
                                <mat-icon class="info-icon">pending</mat-icon>
                                En cours...
                              </span>
                            }
                          } @else {
                            <span class="job-duration">
                              <mat-icon class="info-icon">hourglass_empty</mat-icon>
                              En attente
                            </span>
                          }
                          @if (job.details?.test_results) {
                            <span class="job-tests">
                              <mat-icon class="info-icon">check_circle</mat-icon>
                              {{ job.details.test_results.passed_tests }}/{{ job.details.test_results.total_tests }}
                            </span>
                          }
                        </div>
                      </div>
                    }
                  </div>
                }
              </ng-template>

              <mat-expansion-panel [expanded]="i === 0">
                <mat-expansion-panel-header matTooltip="Click to show jobs">
                  <mat-panel-title>
                    <span class="pipeline-title">
                      Pipeline {{ pipeline.id }}
                      <mat-chip-row class="pipeline-sha-chip" color="primary" aria-label="SHA1" (click)="$event.stopPropagation(); openPipeline(pipeline.url)">
                        #{{ pipeline.sha1?.slice(0, 8) }}
                      </mat-chip-row>
                    </span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <span class="pipeline-status" [class]="getStepStatusClass(pipeline.status)">
                      <mat-icon class="pipeline-status-icon" [class]="getStepStatusClass(pipeline.status)">
                        {{ getStepIcon(pipeline.status) }}
                      </mat-icon>
                      {{ getStepLabel(pipeline.status) }}
                    </span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-container [ngTemplateOutlet]="pipelineDetailsTpl"></ng-container>
              </mat-expansion-panel>
            }
          }
        </mat-accordion>
    </mat-card-content>
  </mat-card>
} @else {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
